<!-- views/partials/reviews-form.handlebars -->

<fieldset>
    <legend>{{#if review}}Edit{{else}}New{{/if}} Review</legend>
    <input type="hidden" name="movieId" value="{{movieId}}">

    <!-- TITLE -->
    <div class="form-group">
        <label for="review-title">Title</label><br>
        <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="description-text">Description</label><br>
        <textarea class="form-control" id="description-text" name="description" rows="10" >{{review.description}}</textarea>
    </div>

    <!-- RATING -->
    <div class="form-group">
        <label for="stars-number">Stars</label><br>
        <select class="form-control" id="stars-number" name="stars" value="{{review.stars}}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Review</button>
        <a class="btn btn-primary" href="/movies/{{movieId}}">Cancel</a>
    </div>
</fieldset>
